.string{
  color:#090;
  font-weight:bold;
}

.index{
  font-weight: bold;
}

.int{
  color:#900;
  font-weight: bold;
}

.array{
  font-weight: bold;
  /*color:#009; */
}

.bool {
  color:#230;
}

.object {
  font-weight: bold;
  /*color:#009;*/
}

#var_dump {
  display: none;
}

#details {
  position: absolute;
  bottom:0;
  right:0;
  width: auto;
  height:auto;
  cursor: pointer; 
  
}

#icon{
  right: 180px;
  bottom: 0;
  position: absolute;
  margin-right: 25px
}


#title {
  float: right;
  border-radius: 5px;
  border-top-style:dashed;
  border-left-style:dashed;
  height: 100%;  
      
}